.container {
  display: grid;
  min-height: 100vh;
}
.content {
  padding: 0 20px;
}
.areaGrid {
  grid-template-columns: 1fr 240px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'main right'
    'footer footer';
  gap: 20px;
}
.itemHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  grid-area: header;
  padding-top: 4px;
  padding-bottom: 4px;
}
.itemHeader .menu {
  display: none;
}
.itemMain {
  grid-area: main;
  a {
    color: #080;
    text-decoration: underline;
  }
}
.attribution {
  display: block;
}
.itemRight {
  display: flex;
  flex-direction: column;
  grid-area: right;
  padding: 0 10px;
}
.itemFooter {
  background-color: #080;
  color: #fff;
  grid-area: footer;
  padding-top: 4px;
  padding-bottom: 4px;
}
@media only screen and (max-width: 500px) {
  .areaGrid {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header header'
      'main'
      'footer footer';
  }
  .itemHeader .menu {
    display: flex;
  }
  .itemRight {
    display: none;
  }
}
