.component {
  position: relative;

  .button {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-family: arial;
    line-height: 1em;
    margin-top: -6px;
  }
  .label {
    font-size: 12px;
  }
  .items {
    background-color: #fff;
    display: flex;
    padding: 0 20px;
    position: absolute;
    flex-direction: column;
    top: 40px;
    width: 100vw;
    height: 100vh;
    > * {
      padding: 4px 8px;
      white-space: nowrap;
    }
    &.is-collapsed {
      left: -100vw;
      transition: 0.2s;
    }
    &.is-expanded {
      left: -20px;
      transition: 0.2s;
    }
  }
}
